{% extends "quotes_app/base.html"%}

{% block content %}

        <div class="row header-box">
            <div class="col-md-8 ps-5 mt-3">
                <h1>
                    <a href="/" style="text-decoration: none">Quotes to Scrape</a>
                </h1>
            </div>
            <div class="col-md-4">
                <p>
                    <div class="d-flex gap-2 mt-3">
                        <button type="button" class="btn btn-primary">login</button>
                        <button type="button" class="btn btn-primary">SignUP</button>
                        <button type="button" class="btn btn-primary">logout</button>
                    </div>
                </p>
            </div>
        </div>
    


<div class="row">
    <div class="col-md-5 ps-5">

        {% for quote in quotes %}
            <div class="quote">
                <span class="text">{{ quote.text }}</span>
                <span>
                    by <small class="author">{{ quote.author }}</small>
                </span>

                
                <div class="tags">
                    Tags:
                    {% for tag in quote.tags.all %}
                        <a class="tag md-5" href="/tag/{{ tag.tag}}/">
                            {{ tag.tag }}
                        </a>
                    {% endfor %}
                </div>

            </div>
        {% endfor %}

    </div>
</div>


    </div>
</div>
    <nav>
        <ul class="pager">
            
            
            <li class="next">
                <a href="/page/2/">Next <span aria-hidden="true">→</span></a>
            </li>
            
        </ul>
    </nav>
    </div>
</div>

    
{% endblock %}