{% extends "quotes_app/base.html"%}

{% block content %}

        <div class="row header-box">
            <div class="col-md-8 ps-5 mt-3">
                <h1>
                    <a href="/" style="text-decoration: none">Quotes to Scrape</a>
                </h1>
            </div>
            <div class="col-md-4">
                <p>
                    <div class="d-flex gap-2 mt-3">
                        <button type="button" class="btn btn-primary">login</button>
                        <button type="button" class="btn btn-primary">SignUP</button>
                        <button type="button" class="btn btn-primary">logout</button>
                    </div>
                </p>
            </div>
        </div>
    

<div class="row">
    <div class="col-md-5 ps-5">

    <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
        <span class="text" itemprop="text">“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.”</span>
        <span>by <small class="author" itemprop="author">Albert Einstein</small>
        <a href="/author/Albert-Einstein">(about)</a>
        </span>

        <div class="tags">
            Tags:
            <meta class="keywords" itemprop="keywords" content="change,deep-thoughts,thinking,world"> 
            
            <a class="tag" href="/tag/change/page/1/">change</a>
            
        </div>
    </div>

    <nav>
        <ul class="pager">
            
            
            <li class="next">
                <a href="/page/2/">Next <span aria-hidden="true">→</span></a>
            </li>
            
        </ul>
    </nav>
    </div>
</div>

    
{% endblock %}