{% extends "quotes_app/base.html"%}

{% block content %}

        <div class="row header-box">
            <div class="col-md-8 ps-5 mt-3">
                <h1>
                    <a href="/" style="text-decoration: none">Quotes to Scrape</a>
                </h1>
            </div>
            <div class="col-md-4">
                
                    
                    <div class="d-flex gap-2 mt-3">
                        {% if user.is_authenticated %}
                            <form method="post" action="{% url 'quotes_app:logout' %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary">Logout</button>
                            </form>
                        {% else %}
                            <a href="{% url 'quotes_app:login' %}" class="btn btn-primary">
                                Login
                            </a>
                            <a href="{% url 'quotes_app:register' %}" class="btn btn-primary">
                                Sign Up
                            </a>
                        {% endif %}
                    </div>
                
            </div>
        </div>
    

{% if user.is_authenticated%}

<div class="add-buttons mt-1" style="position: relative; top: -40px; left: 30px;">
    <a href="{% url 'quotes_app:quote' %}" class="btn btn-primary">
        Add quote
    </a>

    <a href="{% url 'quotes_app:tag' %}" class="btn btn-primary">
        Add tag
    </a>

    <a href="{% url 'quotes_app:author' %}" class="btn btn-primary">
        Add author
    </a>


    <form action="{% url 'quotes_app:scrape' %}" method="post" style="display:inline;">
        {% csrf_token %}
            <button type="submit" class="btn btn-primary">
                add new data
            </button>
    </form>
         
</div>
{% endif %}


<div class="row">
    <div class="col-md-5 ps-5">

        {% for quote in page_obj %}
            <div class="quote">
                <span class="text">{{ quote.text }}</span>
                <span>
                    by <small class="author">{{ quote.author }}</small>
                    <a href="{% url "quotes_app:about" quote.author.id %}">(about)</a>
                </span>

                
                <div class="tags">
                    Tags:
                    {% for tag in quote.tags.all %}
                        <a class="tag md-5" href="/tag/{{ tag.tag}}/">
                            {{ tag.tag }}
                        </a>
                    {% endfor %}
                </div>

            </div>
        {% endfor %}

    </div>    
    <div class="col-md-4 ps-5">
        <h2>Top Ten tags</h2>
        <span class="tag-item">
            {% for tag in top_tags %}
                <div class="tag-item">
                    <a class="tag" style="font-size: {{ tag.num_quotes|add:8 }}px" href="/tag/{{ tag.tag }}/">
                        {{ tag.tag }} ({{ tag.num_quotes }})
                    </a>
                </div>
            {% endfor %}
        </span>
    </div>
</div>
    </div>
</div>
    <nav>
       <ul class="pager">

            <li class="previous">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
            </li>


            <li class="next">
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">
                        Next 
                    </a>
                {% endif %}
            </li>

        </ul>
    </nav>
    </div>
</div>

{% if messages %}
    {% for message in messages %}
        <script>
            alert("{{ message }}");
        </script>
    {% endfor %}
{% endif %}

{% endblock %}