{% extends "quotes/base.html" %}

{% block content %}

<h2>Add Quote page</h2>
<form method="post">
    {% csrf_token %}
    <p>
        Text:<br>
        <textarea name="text"></textarea>
    </p>

<p>
    Author:<br>
    <select name="author">
        {% for author in authors %}
            <option value="{{ author.id }}">
                {{ author.fullname }}
            </option>
        {% endfor %}
    </select>
</p>
<p>
    Tag:<br>
    <input type="text" name="tag">
</p>
    <button type="submit">Add</button>
</form>

{% endblock %}