{% extends "quotes/base.html" %}

{% block content %}

<title>Quotes Site</title>
<h2>Quotes</h2>

{% for quote in page_obj %}
    <div style="margin-bottom: 30px;">
        <h3>"{{ quote.text }}"</h3>
        <p><b>Author:</b> <a href="/author/{{ quote.author.id }}/">
            {{ quote.author.full_name }}
        </a></p>

        <p>
            <b>Tags:</b>
            {% for tag in quote.tags.all %}
                <a href="/tag/{{ tag.tag }}/">#{{ tag.tag }}</a>
            {% endfor %}
        </p>
    </div>
{% endfor %}

<div>
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    <span>Page {{ page_obj.number }}</span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}
</div>

{% endblock %}